:root {
  --black: #000;
  --yellow: #facc15;
  --gray: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, sans-serif;
  background: var(--black);
  color: white;
  padding-top: 90px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background: rgba(0,0,0,0.9);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  z-index: 1000;
}

.logo {
  font-weight: 700;
  letter-spacing: 2px;
}

nav a {
  margin-left: 25px;
  color: var(--gray);
  text-decoration: none;
  position: relative;
  transition: 0.3s;
}

nav a:hover {
  color: var(--yellow);
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--yellow);
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

.cta {
  color: black;
  background: var(--yellow);
  padding: 8px 16px;
  border-radius: 20px;
}

/* HERO */
.hero {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 3px;
}

.hero p {
  color: var(--gray);
  margin: 20px 0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 30px;
  border: 2px solid var(--yellow);
  border-radius: 40px;
  color: var(--yellow);
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: var(--yellow);
  color: black;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 80px 20px;
  text-align: center;
}

.stats span {
  font-size: 2.5rem;
  color: var(--yellow);
}

.hero-image {
  margin-top: 40px;
  max-width: 700px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(250,204,21,0.25);
  transition: 0.4s ease;
}

.hero-image:hover {
  transform: scale(1.03);
}


/* EPISODES */
.episodes {
  padding: 100px 60px;
}

.episodes h2 {
  margin-bottom: 40px;
  font-size: 2rem;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.episode-card {
  background: #111;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
}

.episode-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(250,204,21,0.2);
}

.episode-card img {
  width: 100%;
}

.episode-card h3 {
  padding: 15px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  color: var(--gray);
  border-top: 1px solid #222;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header {
    padding: 0 30px;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

}
